extends ../layout

block content
    // Page Container
    .w3-card.w3-round.w3-white
        .w3-container
            h4.w3-center Novo Registo 
            hr
            form(action="/auth/register" method="post")
                .w3-section
                    i.fa.fa-user 
                    label  Nome
                    input.w3-input.w3-border.w3-margin-bottom(type="text" placeholder="Username" name="username" required)
                    br

                    i.fa.fa-at
                    label  Email
                    input.w3-input.w3-border.w3-margin-bottom(type="text" placeholder="Email" name="email" required)
                    br

                    //i.fa.fa-image 
                    //label  Avatar 
                    //input.w3-input.w3-border.w3-margin-bottom(type="file" name="avatar")

                    i.fa.fa-handshake-o 
                    label  Filiação
                    select.w3-select(name="filiacao" required)
                        option(value="" disabled selected) Escolha uma opção
                        option(value="student") Estudante
                        option(value="teacher") Professor
                        option(value="other") Outro
                    br
                    br

                    i.fa.fa-lock
                    label  Password
                    input.w3-input.w3-border.w3-margin-bottom(type="password" placeholder="Password" name="password" required)
                    button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Registar

            if(error)
                .w3-container.w3-red
                    p #{error}
