extends layout 

block content
    h1.w3-center Bem vindo
    a.w3-button.w3-block.w3-green.w3-section.w3-padding(href='/auth/login') Login
    a.w3-button.w3-block.w3-green.w3-section.w3-padding(href='/auth/register') Registar