html
    head
        title MRB
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/stylesheets/w3.css")
        link(rel="stylesheet" href="/stylesheets/w3-theme-blue-grey.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        .w3-container.w3-padding-large.w3-align-center(style="max-width:800px;margin:auto")
            block content

