extends ../index 

block middle-column 
    // Middle Column
    .w3-col.m7
        .w3-row-padding

        // Posts
        if(data.length == 0)
            .w3-container.w3-red
                p Nenhuma rua para listar

        .w3-container.w3-card.w3-white.w3-round.w3-margin
            a.fa.fa-plus(href="/ruas/add" style="font-size:50px")

        each rua in data 
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                h4=rua.nome
                
                a.fa.fa-thumbs-up.w3-button.w3-theme-d1.w3-margin-bottom.w3-margin-right(href="/ruas/get/" + rua._id) View

                a.fa.fa-thumbs-up.w3-button.w3-theme-d1.w3-margin-bottom.w3-margin-right(href="/ruas/update/" + rua._id) Update

                a.fa.fa-comment.w3-button.w3-theme-d1.w3-margin-bottom(href="/ruas/delete/" + rua._id) Delete