extends ../index 

block middle-column 
    // Middle Column
    .w3-col.m7
        .w3-row-padding

        // Posts
        if(data.length == 0)
            .w3-container.w3-red
                p Nenhuma data para listar

        .w3-container.w3-card.w3-white.w3-round.w3-margin
            h1 Datas
            each d in data
                a(href="/ruas/datas/" + d._id)=d._id
                br 
                