extends ../../index 

block middle-column 

    // Middle Column
    .w3-col.m7
        .w3-container.w3-card.w3-white.w3-round.w3-margin
            h1.w3-green.w3-padding.w3-round.w3-margin-bottom Comentario feito com sucesso
            a(href="/posts") Voltar para a lista de posts 
            

