extends ../index 

block content
    .w3-container.w3-padding-large.w3-align-center(style="max-width:800px;margin:auto")
        .w3-card.w3-round.w3-white
            .w3-container
                h4.w3-center Login efetuado com sucesso
                p 
                    a(href="/") Ir para a página principal



