extends layout

block content
    // The Grid
    .w3-row
        // Left Column
        .w3-col.m3
            // Profile
            .w3-card.w3-round.w3-white
                .w3-container
                    h4.w3-center=user.username
                    p.w3-center
                    hr
                    p
                        i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme=user.filiacao
                    p
                        i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme=user.email

        block middle-column