doctype html 

html
    head
        title MRB
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/stylesheets/w3.css")
        link(rel="stylesheet" href="/stylesheets/w3-theme-blue-grey.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body 
        // Page Container
        .w3-container.w3-padding-large.w3-align-center(style="max-width:800px;margin:auto")
            // Profile
            .w3-card.w3-round.w3-white
                .w3-container
                    h4.w3-center Login
                    hr
                    form(action="/login" method="post")
                        .w3-section
                            i.fa.fa-at
                            label  Email
                            input.w3-input.w3-border.w3-margin-bottom(type="text" placeholder="Email" name="email" required)

                            i.fa.fa-lock
                            label  Password
                            input.w3-input.w3-border.w3-margin-bottom(type="password" placeholder="Password" name="password" required)
                            button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Login

                        .w3-container.w3-border-top.w3-padding-16.w3-light-grey
                            span.w3-right.w3-padding.w3-hide-small Ainda não tem conta? Pode registar-se 
                                a(href="/register") aqui
                    
                    if(error)
                        .w3-container.w3-red
                            p #{error}
