extends ../../index

block middle-column 
    // Middle Column
    .w3-col.m7
        .w3-row-padding
            form(id="commentForm" action="/posts/add/" + idRua method="post" enctype="multipart/form-data")
                input(type="text" name="autor" value=user.username hidden)
                
                label Tetxo:
                textarea.w3-input.w3-border.w3-margin-bottom( placeholder="Texto" name="texto" required)
                
                label Imagens: 
                input(type="file" name="files" id="files" multiple)
                br
                button.w3-button.w3-theme-d1.w3-margin-bottom(type="submit") Postar
            
            if error
                .w3-panel.w3-red
                    p #{error}