extends ../../index

block middle-column 
    // Middle Column
    .w3-col.m7
        .w3-row-padding
            form(id="commentForm" action="/posts/comments/add?idPost=" + data.idPost method="post")
                input(type="text" name="autor" value=user.username hidden)
                
                label Comentário:
                textarea.w3-input.w3-border.w3-margin-bottom( placeholder="Comentário" name="texto" required)
                
                button.w3-button.w3-theme-d1.w3-margin-bottom(type="submit") Comentar
            
            if error
                .w3-panel.w3-red
                    p #{error}