extends ../../index 

block middle-column 

    // Middle Column
    .w3-col.m7
        .w3-container.w3-card.w3-white.w3-round.w3-margin
            h1.w3-container.w3-green Rua alterada com sucesso
            br
            a(href="/ruas/admin") Voltar
            

